/* .red{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-left: 100px;
    
}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-left: 100px;
   
} */
/* 
#parent{
    width: 300px;
    height: 300px;
    background-color: red;
    position: relative;

}

.child{
    width: 100px;
    height: 100px;
}

#child1{
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
   
}

#child2{
    background-color: green;  
    position: absolute;
    right: 0;
    top: 0; 
}

#child3{
    background-color: purple; 
    position: absolute;
    right: 0;
    bottom: 0;   
}

#child4{
    background-color: purple;
    position: absolute;
    left: 0;
    bottom: 0;    
}

#child5{
    background-color: white;
    position: absolute;
    left: 100px;
    bottom: 100px;    
} */

/* .content{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.half-circle{
    position: absolute;
    width: 50px;
    height: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: red;

}

.square{
    position: absolute;
    top: 20px;
    left: 0;
    width: 50px;
    height: 100px;
    background-color: red;
} */



#container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
/* .container{
    padding: 10px;
    position: relative;
  } */

  
  .head{
    height: 70px;
    width: 90%;
    right: 0;
    position: absolute;
    background-color: #a29bfe;
    display:inline-block;
  
  }
  
  .side-nav{
    height: 500px;;
    width: 10%;
    background-color: #6c5ce7;
    display: inline-block;
  }
  
  .main{
    position: absolute;
    width: 100%;
    display: inline-block;
    background-color: #6c5ce7;
  }

  .foot{
    height: 50px;
    background-color: rgb(206, 232, 57);
  }
  
  .inner-content{
    position: absolute;
    top: 70px;
    height: 430px;
    width: 90%;
    background-color:red;
  }
