 .container{
    position: relative;
    height: 200px;
    width: 300px;
    background-color: purple;
    border-radius: 10px;
    padding-bottom: 10px;
    
    
}

.money{
    position: absolute;
    top: 0;
    left: 0;  
    padding: 10px;
    
}

.time{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.col{
    position: absolute;
    width: 20px;
    background-color: aqua;
    margin-left: 20px;

}

#col1{
    top: 170px;
    left: 10px;
    height: 30px;
}

#col2{
    top: 50px;
    left: 40px;
    height: 150px;
}

#col3{
    top: 10px;
    left: 70px;
    height: 190px;
}

#col4{
    top: 20px;
    left: 100px;
    height: 180px;
}

#col5{
    top: 40px;
    left: 130px;
    height: 160px;
}

#col6{
    top: 130px;
    left: 160px;
    height: 70px;
} 
